abbr,address,article,aside,audio,b,blockquote,body,canvas,caption,cite,code,dd,del,details,dfn,div,dl,dt,em,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,p,pre,q,samp,section,small,span,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,ul,var,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:0 0}body{line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:0 0}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:700}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}

// Vars
$primary: #2196F3;
$grey: #4a4a4a;

// Imports
@import 'components/*';

@import '//netdna.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.css';
@import '//fonts.googleapis.com/css?family=Open+Sans:300';

body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: #ffffff;
}

h1, h2, h3 {
    color: $primary;
    font-weight: 300;
    font-size: 30px;
    line-height: 34px;
}
h2 {
    font-size: 26px;
    line-height: 30px;
    margin-bottom: 30px;
}
h3 {
    font-size: 14px;
    line-height: 18px;
}

// Header
header {
    color: $grey;
    border-bottom: 1px solid $primary;
    padding: 40px 0;

    h1, h2, h3 {
        color: $grey;
        margin-bottom: 12px;
    }

    h2 {
        color: darken($primary, 20%);
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 0;
    }
}

// Layout
section {
    display: inline-block;
    padding: 40px 0;
    width: 100%;
}

.content {
    margin: 0 auto;
    max-width: 1280px;
    width: 96%;
}

.left {
    float: left;
}
.right {
    float: right;
}

.half {
    width: 49%;
}

// Components
.video-ratio {
    margin-bottom: 20px;
}

// Footer
footer {
    background: #f7f7f7;
    display: inline-block;
    padding: 40px 0;
    text-align: center;
    width: 100%;
    
    p {
        color: #aaaaaa;
        line-height: 30px;
    }
    
    a {
        color: #aaaaaa;
        line-height: 30px;
        text-decoration: none;
        -webkit-transition: all .3s ease-in-out;
           -moz-transition: all .3s ease-in-out;
            -ms-transition: all .3s ease-in-out;
             -o-transition: all .3s ease-in-out;
                transition: all .3s ease-in-out;
        
        &:hover {
            color: #000000;
        }
    }

    .fa {
        font-size: 30px;
    }

    .logo {
        height: auto;
        max-width: 300px;
    }
}